body {
  background: url() no-repeat fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-weight: 600;
}
#img {
  position: relative;
}
ul {
  text-align: justify;
  padding-left: 30px;
}
#review {
  padding-left: 10px;
}
#review > p {
  padding-left: 20px;
  line-height: 20px;
}
