/* 기본 스타일 */
body {
    background-image: url("/IMG/coffee-3419370_1920.jpg");
    background-size: cover; /* 배경 이미지 크기 조절 */
    background-position: center; /* 배경 이미지 위치 조정 */
    font-family: "Sunflower", sans-serif; /* 기본 폰트 설정 */
    margin: 0;
    padding: 0;
    color: #333; /* 기본 텍스트 색상 설정 */
}

/* 리뷰 폼 스타일 */
#review {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 60%; /* 폭을 50%에서 60%로 조정 */
    max-width: 800px; /* 최대 폭을 설정하여 너무 넓어지지 않도록 함 */
    margin: 80px auto; /* 상단 마진과 중앙 정렬 */
    background-color: aliceblue;
    border-radius: 15px; /* 더 부드러운 모서리 */
    border: 1px solid #ddd; /* 보다 부드러운 테두리 색상 */
}

/* 폼 입력 요소 스타일 */
input[type="text"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* 마진 조정 */
    border: 1px solid #ccc; /* 경계선 색상 조정 */
    border-radius: 5px; /* 입력 필드의 모서리 부드럽게 처리 */
    box-sizing: border-box; /* 패딩과 테두리 포함하여 크기 계산 */
}

textarea {
    resize: none; /* 사용자가 텍스트 영역 크기 조절을 못 하도록 설정 */
}

/* 버튼 스타일 */
#reviewbutton {
    height: 50px; /* 버튼 높이 조정 */
    background-color: yellowgreen;
    border: none; /* 버튼 테두리 제거 */
    color: white;
    font-size: 1rem; /* 폰트 크기 조정 */
    border-radius: 5px; /* 버튼 모서리 부드럽게 처리 */
    cursor: pointer; /* 마우스 커서 변경 */
}

#reviewbutton:hover {
    background-color: aquamarine;
    color: black; /* 버튼 텍스트 색상 변경 */
}
/* 리뷰 폼 스타일*/

/* 버튼 스타일 */
#reviewbutton {
    height: 80px;
    background-color: yellowgreen;

}

#reviewbutton:hover {
    background-color: aquamarine;
}


/* 헤더 스타일 */
#header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

#KHTRAVLE {
    color: white;
    font-size: 2rem;
}

#login, #sign {
    color: white;
    font-size: 1.3rem;
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
}

#sign {
    padding-right: 150px;
}

a {
    text-decoration: none;
    color: inherit; /* 링크 색상 상속 */
}

/* 메뉴 스타일 */
.menu {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 100px;
}

.menu > li {
    width: 100%;
    text-align: center;
    line-height: 40px;
    background-color: #000;
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
}

.menu a {
    color: #fff;
}

.submenu {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.menu > li:hover {
    background-color: #000;
}

.menu > li:hover .submenu {
    height: 250px;
}
/**/