body {
  background: url() no-repeat fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-weight: 600;
}
#img {
  position: relative;
}
ul {
  text-align: justify;
  padding-left: 30px;
}
#review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}
#review > p {
  padding-left: 20px;
  line-height: 30px;
}
li {
  font-size: 2rem;
  text-align: justify;
}
